.container {
  display: flex;
  height: 100%;
}

.left-col {
  width: 35%;
  background-color: #1C1A19;
}

.logo {
  display: flex;
  align-items: center;
}

.sidepanel__logo {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.sidepanel__logo .logo-img {
  margin-bottom: 20px;
  width: 136px;
}

.right-col {
  flex: 1;
  background-color: grey;
}